@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
	box-sizing: border-box;
}

html,
body,
#root {
	margin: 0;
	padding: 0;
	background-color: #181818;
}

.dir {
	display: flex;
	flex-direction: row;
}

canvas {
	height: 20vh;
}

#head {
	font-family: 'Poppins', sans-serif;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 24px;
	align-items: center;
	text-align: center;
	justify-content: center;
	font-size: 1.5rem;
	color: beige;
}
.box {
	width: 14%;
	border: 0.1px solid grey;
}

.side {
	font-family: 'Poppins', sans-serif;
	color: whitesmoke;
}
.grid {
	width: 100%;
	padding-right: 0%;
}
.container {
	padding-top: 36px;
	display: flex;
	padding-left: 5%;
	padding-right: 5%;
	flex-direction: row;
}
.confirm {
	background-color: pink;
	font-family: 'Poppins', sans-serif;
	width: 200px;
	font-size: 1.2rem;

	border-color: pink;
}
.buttons {
	display: flex;
	flex-direction: column;
}
